<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Gestión de aparcamientos Arinaga</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" th:href="@{/static/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/tablas.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/instrucciones.css}"/>
</head>
<body>

<!-- BARRA DE NAVEGACIÓN -->
<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="container">
            <div class="container-fluid">

                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- ENLACES DEL MENÚ -->
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link logo-link" href="#">
                                <img src="../../static/images/GrasalvaLogo.png" alt="Logo" class="nav-logo">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/home}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/control_vehiculos/}">Control de Vehículos</a>
                        </li>
                        <!-- Agregar botón de logout -->
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="btn btn-link nav-link">Cerrar sesión</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Creación de los alert para el usuario -->
    <div class="alert alert-success alert-dismissible" th:if="${success}">
        <label th:text="${success}"></label>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

</header>

<!-- CONTENIDO PRINCIPAL -->
<div class="container mt-5">
    <!-- Mensaje de Bienvenida -->
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h1>Bienvenido al Sistema de Control de Vehículos</h1>
        </div>
    </div>

    <!-- Instrucciones para Usuarios -->
    <div class="row mb-4 d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="fs-3">Instrucciones para Usuarios</h4>
                </div>
                <div class="card-body">
                    <ul class="fs-5">
                        <li><strong>Ingreso de Matrícula:</strong> Introduzca la matrícula del vehículo en el campo correspondiente. El nombre de la empresa se completará automáticamente.</li>
                        <li><strong>Fecha/Hora de Salida:</strong> Haga clic en el campo de fecha/hora de salida para completar automáticamente la información con la fecha y hora actuales.</li>
                        <li><strong>Guardar Datos:</strong> Una vez que los datos estén completos, haga clic en el botón Guardar para registrar la salida del vehículo.</li>
                        <li><strong>Fecha/Hora de Entrada:</strong> Cuando el vehículo regrese, haga clic en el campo de fecha/hora de entrada para registrar su regreso. Haga clic en el botón Actualizar para registrar la entrada del vehículo.</li>
                        <li><strong>Observaciones:</strong> Si lo desea, agregue una observación en el campo correspondiente para el vehículo.</li>
                        <li><strong>Cerrar Sesión:</strong> Al finalizar su turno, haga clic en Cerrar sesión para permitir que el siguiente empleado inicie sesión de manera segura.</li>
                    </ul>
                </div>
            </div>
        </div>


<!-- PIE DE PÁGINA -->
<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
    <div class="container">
        <p>Copyright hong ©; 2025</p>
    </div>

    <script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>


</footer>

</body>
</html>