<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{plantilla/template_admin :: head}">
    <meta charset="UTF-8">
    <title>Inicio</title>

</head>
<body>
<header th:replace="~{plantilla/template_admin :: header}"></header>

<div class="container">
    <div class="welcome-section" style="margin-bottom: 30px;">
        <h1>GESTIÓN DE VEHÍCULOS ARINAGA</h1>
    </div>

</div>

<footer th:replace="~{plantilla/template_admin :: footer}"></footer>
</body>
</html>