<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{plantilla/template_admin :: head}">
    <meta charset="UTF-8">
    <title>Inicio</title>

</head>
<body>
<header th:replace="~{plantilla/template_admin :: header}"></header>

<div class="container">
    <div class="welcome-section" style="margin-bottom: 30px;">
        <h1>GESTIÓN DE VEHÍCULOS ARINAGA</h1>
<!--        <p>Music Beat es tu aplicación ideal para gestionar y descubrir la música que amas. Con Music Beat, puedes:</p>-->
<!--        <ul>-->
<!--            <li>Explorar una vasta colección de canciones y artistas.</li>-->
<!--            <li>Crear y gestionar tus propias listas de reproducción.</li>-->
<!--            <li>Conocer detalles sobre tus artistas favoritos y sus biografías.</li>-->
<!--            <li>Descubrir nuevos lanzamientos y las tendencias musicales del momento.</li>-->
<!--        </ul>-->
<!--        <p>¡Únete a nosotros y sumérgete en el apasionante mundo de la música con Music Beat!</p>-->
    </div>

</div>



<footer th:replace="~{plantilla/template_admin :: footer}"></footer>
</body>
</html>